<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="form">
  <label>Tipo de Cuenta</label>
  <div class="segmented">
    <button
      type="button"
      [class.active]="form.value.role === 'company'"
      (click)="form.patchValue({ role: 'company' })"
    >
      🏢 Empresa
    </button>
    <button
      type="button"
      [class.active]="form.value.role === 'candidate'"
      (click)="form.patchValue({ role: 'candidate' })"
    >
      👤 Candidato
    </button>
  </div>

  <label
    >Email
    <input type="email" formControlName="email" placeholder="tu@empresa.com" />
    @if (form.controls.email.touched && form.controls.email.invalid) {
      <small class="error">Email inválido</small>
    }
  </label>

  <label
    >Contraseña
    <div class="pw">
      <input
        [type]="show() ? 'text' : 'password'"
        formControlName="password"
        placeholder="********"
      />
      <button type="button" class="eye" (click)="toggleShow()" aria-label="toggle">👁</button>
    </div>
    @if (form.controls.password.touched && form.controls.password.invalid) {
      <small class="error">Mínimo 6 caracteres</small>
    }
  </label>

  <div class="row">
    <label class="check">
      <input type="checkbox" formControlName="remember" />
      <span>Recordarme</span>
    </label>
    <a class="link" href="#">¿Olvidaste tu contraseña?</a>
  </div>

  <button class="btn btn--dark" [disabled]="form.invalid" [routerLink]="['/vacantes']">
    Iniciar Sesión
  </button>
</form>
